* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.main-content {
    background-color: darkgray;
}

.sidebar {
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-row: 1 / 4;
}

.sidebar div{
    padding-left: 20px;
}

.dashboard{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}
.dashboard-icon {
    width: 60px;
    height: 60px;
    fill: yellowgreen;
}