* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.main-content {
    background-color: darkgray;
}

.sidebar {
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-row: 1 / 4;
}

.dashboard,
.add-todolist,
.list-todolist {
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.dashboard-icon {
    width: 60px;
    height: 60px;
    fill: yellowgreen;
}
.add-todolist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-add-todolist{
    font-size: 33px;
}
.btn-add-todolist{
    height: 55px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
}
.item-todolist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-svg-item-todolist{
    display: flex;
    gap: 15px;
}
.p-item-todolist{
    font-size: 25px;
}
.icon-item-todolist{
    height: 30px;
    width: 30px;
}