* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.main-content {
    background-color: darkgray;
}

#sidebar {
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-row: 1 / 4;
}

.header-sidebar,
.main-sidebar,
.container-list {
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}

.header-sidebar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.header-sidebar-icon {
    width: 60px;
    height: 60px;
}

.main-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-main-sidebar {
    font-size: 33px;
}

.btn-main-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 55px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
}

.img-btn-main-sidebar {
    height: 30px;
    width: 30px;
}

.item-todolist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid honeydew;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 21px;
}

.container-svg-item-todolist {
    display: flex;
    gap: 15px;
}

.p-item-todolist {
    font-size: 25px;
}

.icon-item-todolist {
    height: 30px;
    width: 30px;
}