* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #8bf0ba;
    --color-ironic-blue: #0e0fed;
    --color-blue-underling: #94f0f1;
    --color-pinky-ring: #f2b1d8;
    --color-egg-yelows: #ffdc6a;
    --color-red: rgb(185, 58, 58);
}

html,
body {
    height: 100%;
}

#div-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100%;
}

#sidebar {
    background-color: dodgerblue;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
}

.container-button-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
}

#dialog-list {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 373px;
    position: fixed;
    z-index: 100;
    left: 40%;
    top: 30%;
    box-shadow: 9px 9px 15px 1px #a9c121;
}

#dialog-edit-list {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 373px;
    position: fixed;
    z-index: 100;
    left: 22%;
    top: 30%;
    box-shadow: 9px 9px 15px 1px #a9c121;
}

#dialog-add-item {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 373px;
    position: fixed;
    z-index: 100;
    left: 22%;
    top: 30%;
    box-shadow: 9px 9px 15px 1px #a9c121;
}

#dialog-edit-task {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 373px;
    position: fixed;
    z-index: 100;
    left: 22%;
    top: 30%;
    box-shadow: 9px 9px 15px 1px #a9c121;
}

#header-content {
    background-color: honeydew;
    grid-row: 1 / 2;
}

#body-content {
    grid-row: 2 / 4;
    background-color: #bccbde;
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.cards-task {
    border: 1px solid yellow;
    display: flex;
    width: 900px;
    height: 45px;
    border-radius: 9px;
}

.priority-color {
    width: 31px;
    background-color: var(--color-green);
    border-right: 3px solid black;
    border-radius: 9px 0px 0px 9px;
}

.sub-card-task {
    display: flex;
    align-items: center;
}