* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#div-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100%;
}

#sidebar {
    background-color: dodgerblue;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
}

.container-button-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
}

#header-content {
    background-color: honeydew;
    grid-row: 1 / 2;
}

#body-content {
    grid-row: 2 / 4;
    background-color: #bccbde;
}