* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #8bf0ba;
    --color-ironic-blue: #0e0fed;
    --color-sky-and-sea: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgb(18, 206, 209) 15%);
    --color-sea: rgb(18, 206, 209);
    --color-blue-underling: hsl(181, 77%, 76%);
    --color-pinky-ring: #f2b1d8;
    --color-egg-yelows: #ffdc6a;
    --color-red: rgb(185, 58, 58);
    --clr-primary: rgb(54, 112, 199);
    --color-grey: #bbbbbb;
    --color-grey-black: #eaeaea;
    --color-grey-wthite: #eeeeee;
    --color-grey-input: #E5E7EB;
    --color-red-hover: #e54c38;
    --color-green-hover: #0cc078;
}

@font-face {
    font-family: comic-font;
    src: url(./assets/font/ComicRelief-Regular.ttf);
}

html,
body {
    height: 100%;
    font-family: comic-font, Arial, Helvetica, sans-serif;
}

#div-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100%;
}

#sidebar {
    background-color: var(--color-grey-black);
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 2fr 1fr 7fr;
    padding: 0px 9px 0px 9px;
    min-width: 315px;
}

.header-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-icon {
    width: 75px;
    height: 75px;
}

.name-app {
    font-size: 30px;
    color: var(--color-sea);
}

#btn-new-list {
    height: 45px;
    border: 3px solid var(--color-grey);
    border-radius: 9px;
    background-color: white;
    font-size: 15px;
    font-weight: bolder;
    width: 95px;
}

#btn-new-list:hover {
    background-color: var(--color-green-hover);
}

.para-sidebar {
    font-size: 23px;
}

.container-todolist {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.card-list {
    width: inherit;
    height: 45px;
    border-radius: 9px;
    background-color: white;
    padding: 0px 9px 0px 9px;
    border: 3px solid var(--color-grey);
}

.edit-icon-img-list,
.delete-icon-img-list {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

.edit-icon-img-list:hover {
    background-color: var(--color-green-hover);
}

.delete-icon-img-list:hover {
    background-color: var(--color-red-hover);
}

.sub-card-list {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-button-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
}

.btn-container-card-list {
    display: flex;
    gap: 9px;
}

.card-list-active {
    color: var(--color-sea);
    text-decoration: underline solid var(--color-sea) 4px;
    text-underline-offset: 5px;
}

#dialog-create-list {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 219px;
    position: fixed;
    z-index: 1;
    left: 39%;
    top: 30%;
}

.header-dialog-create-list {
    background: var(--color-sky-and-sea);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.txt-header-dialog-create-list {
    color: white;
}

#container-form-create-list {
    display: flex;
    justify-content: center;
}

.input-section-create-list {
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: 375px;
}

.btn-section-create-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn-save-create-list {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px;
}

#btn-close-modal-create-list {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;
}

.form-div-create-list {
    display: flex;
    flex-direction: column;
}

.label-list-name-create-list {
    font-size: 15px;
}

#list-name-create-list {
    width: inherit;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#list-name-create-list:focus {
    border: 1px solid blue;
    box-shadow: 2px 3px 7px 0px grey;
}

#form-create-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#dialog-edit-list {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 219px;
    position: fixed;
    z-index: 1;
    left: 39%;
    top: 30%;

}

.header-dialog-edit-list {
    background: var(--color-sky-and-sea);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.txt-header-dialog-edit-list {
    color: white;
}

#container-form-edit-list {
    display: flex;
    justify-content: center;
}

.input-section-edit-list {
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: 375px;
}

.btn-section-edit-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn-save-edit-list {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px;
}

#btn-close-modal-edit-list {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;
}

.form-div-edit-list {
    display: flex;
    flex-direction: column;
}

.label-list-name-edit-list {
    font-size: 15px;
}

#list-name-edit-list {
    width: inherit;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#list-name-edit-list:focus {
    border: 1px solid blue;
    box-shadow: 2px 3px 7px 0px grey;
}

#form-edit-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#dialog-add-task {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 500px;
    position: fixed;
    z-index: 1;
    left: 39%;
    top: 30%;
}

.header-dialog-add-task {
    background: var(--color-sky-and-sea);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.txt-header-dialog-add-task {
    color: white;
}

#container-form-add-task {
    display: flex;
    justify-content: center;
}

.input-section-add-task {
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: 375px;
}

.btn-section-add-task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn-submit-add-task {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px;
}

#btn-close-modal-add-task {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;
}

.form-div-add-task {
    display: flex;
    flex-direction: column;
}

.label-title-add-task,
.label-description-add-task,
.label-dueDate-add-task,
.label-priority-add-task {
    font-size: 15px;
}

#title-task-add-task {
    width: inherit;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#description-task-add-task {
    font-size: 18px;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    padding: 7px;
    width: inherit;
    min-height: 110px;
    resize: none;
    outline: none;
}

#dueDate-task-add-task {
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#priority-task-add-task {
    border: 1px solid var(--color-grey-input);
    background-color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#title-task-add-task:focus,
#description-task-add-task:focus,
#dueDate-task-add-task:focus,
#priority-task-add-task:focus {
    border: 1px solid blue;
    box-shadow: 2px 3px 7px 0px grey;
}

#form-add-task {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#dialog-task-detail {
    border: 0;
    border-radius: 9px;
    width: 473px;
    height: 500px;
    position: fixed;
    z-index: 1;
    left: 39%;
    top: 30%;
}

.header-dialog-task-detail {
    background: var(--color-sky-and-sea);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.txt-header-dialog-task-detail {
    color: white;
}

#container-form-task-detail {
    display: flex;
    justify-content: center;
}

.input-section-task-detail {
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: 375px;
}

.btn-section-task-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn-save-task-detail {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px;
}

#btn-close-modal-task-detail {
    flex-grow: 1;
    background: var(--color-sky-and-sea);
    height: 30px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;
}

.form-div-task-detail {
    display: flex;
    flex-direction: column;
}

.label-title-task-detail,
.label-description-task-detail,
.label-dueDate-task-detail,
.label-priority-task-detail {
    font-size: 15px;
}

#title-task-detail {
    width: inherit;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#description-task-detail {
    font-size: 18px;
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    padding: 7px;
    width: inherit;
    min-height: 110px;
    resize: none;
    outline: none;
}

#dueDate-task-detail {
    border: 1px solid var(--color-grey-input);
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#priority-task-detail {
    border: 1px solid var(--color-grey-input);
    background-color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
}

#title-task-detail:focus,
#description-task-detail:focus,
#dueDate-task-detail:focus,
#priority-task-detail:focus {
    border: 1px solid blue;
    box-shadow: 2px 3px 7px 0px grey;
}

#form-task-detail {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


#header-content {
    background-color: var(--color-grey-wthite);
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
}

#btn-add-task {
    height: 51px;
    border: 3px solid var(--color-grey);
    border-radius: 9px;
    background-color: white;
    font-size: 15px;
    font-weight: bolder;
    width: 155px;
}

#btn-add-task:hover {
    background-color: var(--color-green-hover);
}

#div-list-name {
    width: 378px;
    height: 51px;
    font-size: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#body-content {
    grid-row: 2 / 4;
    background-color: var(--color-grey-wthite);
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.cards-task {
    border: 3px solid var(--color-grey);
    display: flex;
    width: 900px;
    height: 45px;
    border-radius: 9px;
    background-color: white;
}

.priority-color {
    width: 31px;
    border-right: 3px solid black;
    border-radius: 7px 0px 0px 7px;
}

.priority-color-green {
    background-color: var(--color-green);
}

.priority-color-yellow {
    background-color: var(--color-egg-yelows);
}

.priority-color-red {
    background-color: var(--color-red);
}

.sub-card-task {
    display: flex;
    align-items: center;
    gap: 13px;
}

.card-task-name {
    width: 345px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-name-and-dueDate-task {
    display: flex;
    justify-content: space-between;
    width: 715px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}


.container-name-and-dueDate-task::after {
    position: absolute;
    content: '';
    background: black;
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-grey);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin: 15px;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em green;
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:checked+.sub-card-task>.container-name-and-dueDate-task::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.delete-icon-img-task {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

.edit-icon-img-task {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

.edit-icon-img-task:hover {
    background-color: var(--color-green-hover);
}

.delete-icon-img-task:hover {
    background-color: var(--color-red-hover);
}